::selection {
//  background-color: lighten($accent-priority-one, 20%);
}

// TODO: move to where appropriate later

body {
    background-color: var(--app-background-color);
    color: var(--app-text-color);
}

button {
  transition: transform 0.6s ease-in-out;
  &:hover {
    transform: scale(0.9);
  }
  &:active {
    transform: scale(0.7);
  }
}