.card {

  flex: 1 0 25%;
  min-height: $card_min-height;

  background-color: $card_background-color;
  border-radius: $card_border-radius;
  overflow: hidden;
  position: relative;

  .card-header {
    padding: .7rem 1.4rem;
    position: relative;
    background-color: $accent-priority-one;
    text-align: center;
  }

  .article-header {
    position: relative;
    margin-bottom: 1.6rem;
  }
  
  a.scoop-source-url:visited {
    color: initial;
  }

  .card-body {
    padding: $card_padding-internal;
  }

  .article-meta {

    padding: 0.8rem 3rem 0.8rem 0.8rem;

    position: absolute;
    left: 0;
    bottom: 0;

    // todo: use vars/mixin
    background: rgba($color: #ffffff, $alpha: 0.8);
    border-top-right-radius: $card_border-radius;

  }

  .card-content {

    padding: $card_padding-internal;

    * {
      max-width: 100%;  //tmp
    }

  }

}

.card-title {
  
  display: inline-block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;

}


.card-list {

  li {

    margin-top: .8rem;
    padding: $card_padding-internal;

    border-radius: $card_border-radius;
    background: #e2e2e2;

    &:first-of-type {
      margin-top: 0;
    }

  }

}