.card {

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: $card_background-color;
  border-radius: $card_border-radius;
  overflow: hidden;

  .card-header {
    padding: .7rem 1.4rem;
    background-color: $card-header-background;
    text-align: center;

    .card-description {
      display: none;
    }

  }

  .article-header {
    margin-bottom: 1.6rem;
  }
  
  a {
    text-decoration: none;
  }

  a.scoop-source-url:visited {
    color: initial;
  }

  .card-body {

    display: block;
    flex-grow: 1;
    min-height: initial;
    height: auto;
    padding: $card_padding-internal;

  }

  .article-meta {

    padding: 0.8rem 3rem 0.8rem 0.8rem;

    position: absolute;
    left: 0;
    bottom: 0;

    background: rgba($color: $white, $alpha: 0.8);
    border-top-right-radius: $card_border-radius;

  }

  .card-content {

    padding: $card_padding-internal;

    & > * {
      max-width: 100%;  //tmp
      width: auto;
    }

  }

  &.card-group {

    .card-body {

      article {

        margin-bottom: calc( $card-padding-internal * $phi );
      
        &:last-of-type {
          margin-bottom: 0;
        }
      
      }
  
    }

  }

}

.card-title {

  display: inline-block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;

}

.module-tile {

  width: 100%;
  margin-bottom: $card_padding-internal;  
  border-radius: $card-border-radius;

  background-size: cover; // this is probably temporary
  background-position: center;
  background-repeat: no-repeat;

  color: $white;

  overflow: hidden;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include transition;

  &:hover {
    transform: scale(1.03) rotate(0.5deg);
    filter: brightness(1.08);
    box-shadow: 0px 0px 15px 0px lighten($shadow-color-primary, 40%);
  }

  &:active {
    filter: brightness(1.25);
    transform: scale(0.98) rotate(0.5deg);
    transition: all .2s ease-in-out;
  }

  // no internal content
  &.image-only {
    font-size: 0;
  }

  // contains text, add background overlay for contrast
  &.has-content {

    > a {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;
      padding: calc( $card-padding-internal * $phi ) $card-padding-internal;

    }

    img {
      max-width: 100%;
    }

  }

  // has low-res background image, add blur effect
  &.has-blur {

    position: relative;

    > a {
      position: relative;
      z-index: 10;
    }

    &::after {

      content: '';

      display: block;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;

      backdrop-filter: blur(10px);

      border-radius: $card-border-radius; // little hacky, but works for now.

    }

  }

}

.module-tile {

  .article-title {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;

    text-align: center;
    text-shadow: 0 0 12px $black, 0 0 2px $shadow-color-primary;

  }

}

.article-title {

  display: flex;
  width: auto;
  margin-top: 0.4rem;
  margin-right: 1rem;

  text-decoration: none;

}

.article-logo {

  aspect-ratio: 1/1;
  object-fit: cover;

  max-height: 30px;
  height: 30px;
  width: 30px;
  margin-bottom: 0.8rem;

  filter: drop-shadow(0 0 12px $black) drop-shadow(0 0 2px $shadow-color-primary);
  background-color: $shadow-color-secondary;

}

.article-publisher {

    margin: 0 0 0 0.5rem;
    vertical-align: middle;
    display: inline-block;
    
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 2.1;

}

.article-image-wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem $card-padding-internal;

  background-size: cover; // this is probably temporary
  background-position: center;
  background-repeat: no-repeat;



}
