// TODO: make everything within themes. at first just dark and light, but eventually expanded.

$background-light: #FEA31C;
$background-lighter: #f6f6f6;
$background: #2a302d;
$background-dark: #43645A;

$foreground-primary: #20201f;

$accent-priority-one: #F5DAC1;