section.module-row {

  @include mq('uwsmr') {

    max-width: 2600px;
    margin: 1rem auto!important;

    &::after {

      content: '';

      display: block;
      width: 400px;
      height: 200px;

      position: absolute;
      top: 22px;
      left: -8px;
      z-index: -1;

      background-image: url('src/assets/348FnZZ.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;

    }

  }

}

.theme-goots {
  .app-title {
    padding-left: 2.5rem;
    color: #ffffff;
    background-image: url('./src/assets/goose.webp');
    background-size: contain;
    background-repeat: no-repeat;
  }
}