a, button,
.more-link-types-here {
  cursor: pointer;
}

.button {

  padding: 0 1.4rem;

  border-radius: 16px;
  border: 0;

  color: var(--button-color-primary);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.5;

  background-color: var(--button-background-primary);

  -webkit-appearance: none;

  @include transition;

  &:hover {
    filter: drop-shadow(0 0 .2rem rgba($shadow-color, 0.60));
  }

  &.action_intent-primary {
//    background-color: $button-background-primary;
  }

}