/* Global */

$phi: 1.6180339887498948482;


/* Media Queries */

$content-width: 1200px; // 77.8rem

$breakpoints: (
  'small': 480px,
  'medium': 800px,
  'large': 1080px,
  'xlarge': 1200px,
);

@mixin mq($width: 'large', $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media (#{$type}-width: $width) {
      @content;
    }
  }
}




/* Transition Defaults / Mixin */

$transitionType:    all;
$transitionSpeed:   0.25s;
$transitionEffect:  ease-in-out;

@mixin transition( $type: $transitionType, $speed: $transitionSpeed, $effect: $transitionEffect ) {
    transition: $type $speed $effect;
}


/* Cards */

$card_min-height: 25rem;

$card_background-color: #ffffff;
$card_border-color: #666666;
$card_border-radius:  0.8rem;
$card_padding-internal: 1rem;